body{
    background-image: url("https://voodooneon.com/cdn/shop/files/cheer-dark-blue.jpg?v=1699933305&width=1946");
}
header{
    color: white;
}
article{
    color: white;
    background-color: transparent;
}